body {
    margin: auto;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url(/images/bg-header-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: hsl(201, 11%, 66%);
}
main {
    padding: 5%;
}
section {
    margin-bottom: 100px;
}
.header {   
    text-align: center;
}
.header > .logo {
    text-align: center;
    padding-top: 20%;
}
.header > h1 {
    font-size: 1.8em ;
    color: hsl(210, 10%, 33%);
}
.button {
    color: #fff;
    padding: 15px;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
    
}
.button:active {
    opacity: 0.6;
    transition: 0.3s;
}
.iOS {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0px 5px 10px 0px hsl(171, 66%, 44%);
}
.Mac {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0px 5px 10px 0px hsl(233, 100%, 69%);
}
h2, h3 {
    color: hsl(210, 10%, 33%);
}
h3 {
    font-size: 1.3em;
}
.snippets {
    text-align: center;
}
.snippets > * {
    margin-top: 20px;
}
.snippets h2 {
    padding-top: 20px;
}
.snippets img {
    width: 100%;
    height: auto;
    padding: 40px 0;
}

.access {
    text-align: center;
}
.access > .devices > img {
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.workflow {
    text-align: center;
}
.blacklist-img-wrapper {
    padding: 60px 0px 20px 0px;
}
.text-img-wrapper, .preview-img-wrapper {
    padding: 30px 0px;
}
.brands {
    text-align: center;
}
.brands > .brand-wrapper {
    margin-top: 80px;
}
.clipboard {
    text-align: center;
}
footer {
    text-align: center;
    background-color: #F5F6F8;
    padding: 5%;
}
.footer-wrapper > .logo-wrapper > img {
    width: 20%;
}
footer a {
    text-decoration: none;
    color: hsl(210, 10%, 33%) ;
    font-weight: 600;
}
footer a:hover {
    color: hsl(171, 66%, 44%)
}
.footer-wrapper > * {
    margin-top: 30px;
}
.social  i {
    padding: 20px;
    font-size: xx-large;
    color: hsl(210, 10%, 33%);
}
.social i:hover {
    color: hsl(171, 66%, 44%)
}
.attribution {
    font-size: 11px; text-align: center;
    margin-top: 50px;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}