.colors {
    color: hsl(171, 66%, 44%);
    color: hsl(233, 100%, 69%);
    color: hsl(210, 10%, 33%);
    color: hsl(201, 11%, 66%);
}


body {
    margin: auto;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url(/images/bg-header-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    color: hsl(201, 11%, 66%);
    padding: 5%;
}
section {
    margin-bottom: 100px;
}
.header {   
    text-align: center;
}
.header > .logo {
    text-align: center;
    padding-top: 20%;
}
.header > h1 {
    font-size: 1.8em ;
    color: hsl(210, 10%, 33%);
}
.button {
    color: #fff;
    padding: 15px;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
}
.iOS {
    background-color: hsl(171, 66%, 44%);
}
.Mac {
    background-color: hsl(233, 100%, 69%);
}
h2 {
    color: hsl(210, 10%, 33%);
}
.snippets {
    text-align: center;
}
.snippets > .computer > img {
    width: 100%;
    height: auto;
}
.attribution {
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}